* {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat';
    font-weight: 300;
}

html {
    scroll-behavior: smooth;
}

h1 {
    color: $defaultBrown;
    font-family: 'Sonsie One';
    font-weight: 400;
}

h2 {
    font-family: 'Caveat';
    font-weight: 700;
}

p {
    line-height: 1.5;
}

// HEADER & FOOTER
@media (min-width:200px) {
    footer {
        padding: 10% 5% 5% 5%;
        background-color: $defaultGreen;
        color: whitesmoke;
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 3vh;

        aside:first-child {
            border-radius: 1vh;
            background-color: whitesmoke;
            box-shadow: 1px 2px 10px -5px $defaultBrown;
            overflow-y: scroll;
        }
        
        h3 {
            color: $defaultGreen;
            font-family: 'Caveat', cursive;
            font-size: 30px;
            font-weight: 500;
        }

        aside {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        ul {
            width: 100%;
            height: 15vh;
            padding: 3%;
            color: $defaultBrown;
            list-style-type: square;
            list-style-position: inside;

            a {
                color: $defaultBrown;
                font-size: 14px;
                font-weight: 400;
            }

            a:hover {
                color: unset;
                text-decoration: underline dashed;
            }
        }

        a {
            color: $bgYellow;
            text-transform: uppercase;
            text-decoration: none;

            &:hover {
                color: $bgOrange;
                text-decoration: underline;
            }
        }
        
        aside:nth-child(2) {
            flex-direction: row;
            justify-content: center;
            column-gap: 2vh;
            
            a {
                font-size: 20px;
                transition: .2s;
                text-decoration: none;
            }
        }

        > p {
            color: $bgYellow;
            font-size: 12px;
            text-align: center;

            a {
                color: $bgYellow;
                font-size: 12px;
                font-weight: 500;
                text-decoration: none;
            }
        }
    }
}

@media (min-width:600px) {
    footer {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        column-gap: 2vh;

        aside:first-child {
            width: 70%;
        }

        aside:nth-child(2) {
            a:hover {
                color: whitesmoke;
                transform: scale(1.2);
                filter:drop-shadow(0px 0px 1px whitesmoke);
            }
        }
        
        p {
            margin: 0;
        }
    }
}

@media (min-width:1000px) {
    footer {
        padding: 5% 3% 3% 3%;

        aside:first-child {
            width: 40%;
        }
    }
}