@media (min-width: 1000px) {
    @import '.'

    // All
    * {
        font-size: $desktopFont;
    }

    // About
    .about {
        
        > aside {
            flex-direction: row;
            justify-content: space-evenly;

            figure {
                width: 40%;
                
            }
    
            img {
                width: 70%;
            }
    
            p {
                width: 50%;
                text-align: left;
            }
        }

        

    }

    .history {

        aside {
            flex-direction: row;
            justify-content: space-evenly;

            p {
                width: 100%;
                text-align: right;
            }
        }

        figure {
            width: 100%;
            
        }

        img {
            width: 80%;
        }

        
    }


    // Type
    .type {

        > article {

            flex-wrap: nowrap;

        .card {
            width: 20%;
            height: 60vh;
        }

        }
        
    }


    .variation {

        img {
            width: 50%;
        }
    }
}