*{
    // border: 1px solid red;
}

@media (min-width:1000px){
    .profile{
        >section{
            flex-direction: row;
            column-gap: 5vh;
            padding-left: 3%;
            padding-right: 3%;
        }
    
        h4{
            font-size: 25px;
        }
    
        h5{
            font-size: 20px;
        }
    
        a{
            font-size: 20px;
        }
    }
    
    .discovery{
        >section{
           display: flex;
           width: 100%;
           >article{
            height: 50vh;
            width: 100%;
           }
    
           aside{
            height: 50vh;
            row-gap: 8vh;
           }
    
           p{
            width: 100%;
            font-size: 17px;
            display: none;
           }
    
           a{
            width: 20vh;
           }
    
           h4{
            width: 70%;
           }
        }
    }
}

