@media (min-width:200px) {

    * {
        font-size: $mobileFont;
    }

    ul {
            padding: 0%;
            margin: 0%;
    }

    figure {
        border: 0px transparent none;
    }

    header{
        background-image: url(/img/header.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: 50vh;
        width: 100%;
    

        figure {
            @include EdenColumn2;
        }

        img {
            width: 50px;
        }

        figcaption {
            display: flex;
            align-items: flex-end;
        }
    }

    nav:first-child {
        display:flex;
    }

    nav:last-child {
        height: 35vh;
        @include EdenJustify;
        color: $bgYellow;
    }

    .originalnav {
        display: none;
    }

    main {
        background-color: $bgYellow;
        @include EdenColumnPerfect(center, 7vh)
    }

    .about, .history, .type, .variation, .restaurants {
        @include EdenColumnPerfect(center, 5vh);
    }

    h2 {
        font-size: 45px;
        padding: 5%;
    }

    .about {
        
        @include EdenColumn1;
        width: 90%;

        figure {
            @include EdenColumn2;
        }

        img {
            width: 100%;
        }
        
        p {
            text-align: center;
        }

        > aside {
            @include EdenRow(1vh);
        }
    }

    .history {

    
        @include edenJustify
        

        figure {
            @include edenColumn2;
        }

        img {
            width: 90%;
        }
        
        p {
            text-align: center;
            width: 90%;
        }

        > aside {
            @include edenRow(1vh);
        }
    }

    .type {

        article {
            @include edenColumnPerfect(center, 3vh);
        }

        a {
            text-decoration: none;
        }

        .readmore {
            padding: 10px 30px;
            background-color: $defaultBrown;
            border-radius: 6px;
            color: $defaultPink;
        }

        .readmore:hover {
            color: $bgYellow;
            background-color: $defaultGreen;
        }
    }

    .variation {

        background-color: $defaultPink;
        width: 90%;
        @include edenRow(3vh);

        figure {
            @include edenRow(1vh);
        }

        img {
            width: 100%;
        }
        
        p {
            text-align: center;
        }

    }

    .restaurants {

        article {
            @include edenColumnPerfect(center, 1vh);

            a {
                color: black;
                text-decoration: none;
                font-weight: 600;
                font-size: 26px;
            }

            iframe {
                width: 100%;
            }
        }
    }

    footer {
        @include edenColumnPerfect(center, 3vh);
        background-color: $defaultBrown;
        color: $bgYellow;
        text-align: center;
        width: 100%;

        aside {
            width: 100%;
        }

        ul {
            list-style: none;
        }

        a {
            color: $bgYellow;
            text-decoration: none;
            
        }

        .sns {
            display: flex;
            justify-content: space-between;
            width: 70%;
        }
    }
}