@media (min-width:200px) {

    * {
        font-size: $mobileFont;
    }

    ul {
            padding: 0%;
            margin: 0%;
    }

    img, iframe {
        border-radius: 6px;
    }

    header{
        background-image: url(/img/header.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: 50vh;
        width: 100%;
    

        figure {
            @include edenJustify;
        }

        figure {
            border: 0px transparent none;
        }

        #h1 {
            padding-left: 3px;
            font-size: 15px;
        }

        img {
            width: 40px;
        }

        figcaption {
            display: flex;
            align-items: flex-end;
            display: flex;
            padding-left: 3px;
        }

        main {
            position: relative;
        }

    }

    nav {

        justify-content: space-between;
        position: relative;

        h2 {
            text-align: center;
            color: $bgYellow;
        }

        details {
            position: absolute;
            width: 100%;
            font-size: 20px;
            height: 25vh;
            display: flex;
            align-items: flex-end;
        }

        summary {
            width: 100%;
            text-align: center;
        }

        details > ul {
            background-color: $bgYellow;
            width: 100%;
            position: absolute;
            display: flex;
            flex-direction: column;
            @include edenColumn1;
            align-items: center;
        }

        details li {
            display: flex;
            width: 85%;
        }

        details a {
            width: 100%;
            text-decoration: none;
            color: black;
            font-weight: 600;
            text-align: center;
            padding: 2%;
         }

         .bottom {
            border-bottom: 1px solid $defaultBrown;
         }

        summary {
            @include edenJustify;
            
        }

        .fa-bars {
            color: $bgYellow;
            font-size: 25px;
        }

        article {
            height: 35vh;
            @include edenJustifyAlign;
        }
    }

    

    .originalnav {
        display: none;
    }

    main {
        background-color: $bgYellow;
        @include edenColumnPerfect(center, 3vh)
    }

    .about, .history, .type, .variation, .restaurants {
        @include edenColumnPerfect(center, 5vh);
    }

    h2 {
        font-size: 45px;
        padding: 5%;
    }

    .about {
        
        @include edenColumn1;
        width: 90%;

        figure {
            @include edenColumn2;
        }

        img {
            width: 100%;
        }
        
        p {
            text-align: center;
        }

        > aside {
            @include edenRow(1vh);
        }
    }

    .history {

        background-color: $bgOrange;
        display: flex;
        align-items: center;

        h3 {
            padding-top: 5%;
        }

        aside {

            @include edenColumnPerfect(center, 3vh);


            figure {
                @include edenColumn2;
            }
    
            img {
                width: 90%;
            }
            
            p {
                text-align: center;
                width: 90%;
            }
        }
        
    }

    .type {

        width: 90%;
        @include edenColumn2;

        article {
            @include edenColumnPerfect(center, 3vh);
        }

        a {
            text-decoration: none;
        }

        a:hover {
            color: $defaultGreen;
        }

        .readmore {
            padding: 10px 30px;
            background-color: $defaultBrown;
            border-radius: 6px;
            color: $defaultPink;
        }

        .readmore:hover {
            color: $bgYellow;
            background-color: $defaultGreen;
        }
    }

    .variation {

        background-color: $bgOrange;
        width: 100%;

        h3 {
            padding-top: 4%;
        }
        
        
        article {
            @include edenColumnPerfect(center, 1vh);
        }

        h4 {
            width: 90%;
        }

        figure {
            @include edenColumnPerfect(center, 3vh)
        }

        img {
            width: 90%;
        }
        
        figcaption {
            text-align: center;
            width: 90%;
        }

    }

    .restaurants {

        article {
            @include edenColumnPerfect(center, 1vh);

            a {
                color: black;
                text-decoration: none;
                font-weight: 600;
                font-size: 20px;
            }

            iframe {
                width: 100%;
                height: 40vh;
            }
        }
    }

    footer {
        @include edenColumnPerfect(center, 3vh);
        background-color: $defaultBrown;
        color: $bgYellow;
        text-align: center;
        width: 100%;

        h3 {
            margin-top: 4%;
        }

        aside {
            width: 90%;
        }

        ul {
            list-style: none;
            
        }

        a {
            color: $bgYellow;
            text-decoration: none;
        }

        a:hover {
            color: $defaultPink;
        }

        .sns {
            display: flex;
            justify-content: space-between;
            width: 70%;
        }
    }
}