@media (min-width:200px) {


    // All
    p, a {
        font-size: $mobileFont;
    }

    ul {
            padding: 0%;
            margin: 0%;
    }

    img, iframe {
        border-radius: 6px;
    }

    main {
        background-color: $bgYellow;
        position: relative;
    }

    .about, .history, .type, .variation, .restaurants {
        @include edenColumnPerfect(center, 5vh);
    }

    h2 {
        font-size: 45px;
        padding: 5%;
    }


    // Header
    header{

        background-image: url(/img/header.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: 50vh;
        width: 100%;
    
        figure {
            @include edenJustify;
        }

        img {
            width: 40px;
        }

        #h1 {
            padding-left: 3px;
            font-size: 15px;
        }

        figcaption {
            display: flex;
            align-items: flex-end;
            display: flex;
            padding-left: 3px;
        }

    }


    // Nav
    nav {

        justify-content: space-between;
        position: relative;

        h2 {
            text-align: center;
            color: $bgYellow;
        }

        details {

            position: absolute;
            width: 100%;
            font-size: 20px;
            height: 25vh;
            display: flex;
            align-items: flex-end;

            ul {
                @include edenColumn1;
                background-color: $bgYellow;
                align-items: center;
                width: 100%;
                position: absolute;
            }

            li {
                display: flex;
                width: 85%;
            }
    
            a {
                width: 100%;
                text-decoration: none;
                color: black;
                font-weight: 600;
                text-align: center;
                padding: 2%;
             }

             a:hover {
                color: $defaultGreen;
             }

        }

        .bottom {
            border-bottom: 1px solid $defaultBrown;
        }

        summary {
            @include edenJustify;
            width: 100%;
            text-align: center;
        }

        .fa-bars {
            color: $bgYellow;
            font-size: 25px;
        }

        article {
            height: 35vh;
            @include edenJustifyAlign;
        }

        .originalnav {
            display: none;
        }

    }

    
    // About
    .about {
        
        @include edenColumn2;
        width: 100%;

        h3 {
            text-align: center;
            width: 80%;
            padding-top: 5%;
        }

        figure {
            @include edenColumn2;
            height: fit-content;
        }

        img {
            width: 90%;
        }
        
        p {
            text-align: center;
            width: 90%;
        }

        > aside {
            @include edenColumnPerfect(center, 1vh);
        }

    }


    // History
    .history {

        background-color: $bgOrange;
        display: flex;
        align-items: center;

        h3 {
            padding-top: 5%;
            text-align: center;
        }

        aside {

            @include edenColumnPerfect(center, 1vh);


            figure {
                @include edenColumn2;
            }
    
            img {
                width: 90%;
            }
            
            p {
                text-align: center;
                width: 90%;
            }

        }
        
    }


    // Type
    .type {

        width: 100%;
        padding-top: 5%;

        article {
            @include edenColumnPerfect(center, 3vh);
        }

        a {
            text-decoration: none;
        }

        a:hover {
            color: $defaultGreen;
        }

        .readmore {
            padding: 10px 30px;
            margin-bottom: 5%;
            background-color: $defaultBrown;
            color: $defaultPink;
            border-radius: 6px;
        }

        .readmore:hover {
            color: $bgYellow;
            background-color: $defaultGreen;
        }

        .card {
            width: 90%;
        }

    }
    

    // Variation
    .variation {

        background-color: $bgOrange;
        width: 100%;

        h3 {
            padding-top: 4%;
        }
        
        article {
            @include edenColumnPerfect(center, 1vh);
        }

        h4 {
            width: 90%;
            text-align: center;
        }

        figure {
            @include edenColumnPerfect(center, 3vh)
        }

        img {
            width: 90%;
        }
        
        figcaption {
            text-align: center;
            width: 90%;
        }

    }


    // Restaurant
    .restaurants {

        padding-top: 5%;
        padding-bottom: 5%;

        article {

            @include edenColumnPerfect(center, 1vh);

            a {
                color: black;
                text-decoration: none;
                font-weight: 600;
                font-size: 20px;
            }

            iframe {
                width: 90%;
                height: 40vh;
            }

        }

    }


    // Footer
    footer {

        @include edenColumnPerfect(center, 3vh);
        background-color: $defaultBrown;
        color: $bgYellow;
        text-align: center;
        width: 100%;

        h3 {
            padding-top: 5%;
        }

        aside {
            width: 90%;
        }

        ul {
            list-style: none;
        }

        a {
            color: $bgYellow;
            text-decoration: none;
        }

        a:hover {
            color: $defaultGreen;
        }

        .sns {
            display: flex;
            justify-content: space-between;
            width: 70%;
        }

    }


}