@media (min-width:600px) {

    // All
    p, a {
        font-size: $tabletFont
    }

    header {

        nav {
            @include edenColumn1;
            align-items: center;
        }

        figure {
            background-color: $bgYellow;
            border-radius: 100px;
            width: fit-content;
            padding: 1%;
        }

        article {

            @include edenColumn1;
            width: 100%;

            summary, details {
                display: none;
            }
    
            .originalnav {
                
                width: 50%;
                display: flex;
                justify-content: space-between;
            }

            ul {
                list-style: none;
            }

            a {
                text-decoration: none;
                color: $bgYellow;
            }

        }
   
    }


    // About
    .about {
        img {
            
            width: 70%;
        }
    }



    // Type
    .type {

        > article {

            
            justify-content: center;
            align-items: center;
            flex-direction: row;
            flex-wrap: wrap;
            column-gap: 4vh;

            .card {
                width: 40%;
            }

            #magic {
                font-size: 15.8px;
            }

        }
    }

    // Restaurants
    .restaurants {
        
        section {
            
            @include edenJustify;
            width: 100%;
            column-gap: 4vh;
            
        }

        article {
            width: 40%;
        }

    }

}