@import 'mixins';

.jade {
    .menu {
        row-gap: 5vh;

        article:last-child {
            padding: 0 5%;
        }
    
        figure {
            flex-direction: row;
            align-items: flex-start;
            column-gap: 2vh;
    
            h4 {
                text-align: left;
            }
    
            div {
                width: 15vh;
                height: 15vh;
            }
            
            figcaption {
                padding-top: 3%;
                align-items: flex-end;
    
            }
    
            aside {
                text-align: left;
                @include flexVertical(0);
                align-items: flex-start;
            }
        }
    
        figure:first-child,
        figure:nth-child(2),
        figure:last-child {
            div {
                background-size: 10vh;
            }
        }
    
        a {
            width: 30%;
        }
    }
    
    #menuCarousel.carousel {
        height: 30vh;
    }
    
    .scrollspy-example {
        height: 40vh;
    }

    .recipe {
        img {
            width: 10vh;
        }
    }

    #galleryCarousel.carousel {
        .carousel-item {
            > article {
                flex-direction: row;
                justify-content: space-around;
            }
        }

        figure {
            width: 30%;
            height: 30vh;
        }
    }

    .info {
        li {
            p {
                width: 10%;
            }
        }
    }
    
    .location {
        > section {
            article {
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: space-between;
            }
            
            iframe {
                width: 48%;
            }
        }
    }
}